body{
    background-color: var(--color-grey-400);
}

header{
    background-color: var(--color-brand-100);
    height: 12rem;
    border-radius: var(--radius-2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    width: 7.5rem;
    height: 5.375rem;
}

#moon-btn{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    border: none;
    outline: none;
    background-color: none;
    cursor: pointer;
}

main{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}

p{
    color: var(--color-black);
    font-weight: 700;
}

#form-login{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    margin-top: 1.875rem;
}

#form-login button {
    width: 100%;
}

:disabled{
    opacity: 40%;
}

.redirect-box{
    line-height: 2.5rem;
}

#redirect-register{
    color: #5188db;
    font-size: var(--font-size4);
    font-weight: 600;
}

.pets-banner{
    display: none;
}

@media (min-width: 700px){
    body{
        height: 100vh;
        width: 100%;
        display: flex;
        overflow: hidden;
    }

    header{
        height: 100%;
        width: 33%;
    }

    .logo{
        width: 10rem;
        height: 15rem;
    }

    main{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    section{
        width: 70%;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    input{
        width: 26.125rem;
    }

    .redirect-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pets-banner{
        display: block;
        margin: 0 8rem 0rem 8.8125rem;
        width: 34rem;
        align-self: flex-start;
    }

    .pets-banner > img {
        width: 34rem;
    }

    .dark-mode-color > svg > path {
        fill: var(--color-brand-100);
    }

    #moon-btn{
        position: absolute;
        left: 78rem;
        top: 1.875rem;
    }
}