body {
    width: 100%;
    background-color: var(--color-grey-400);
}

/* Header */
header {
    position: relative;
    margin-bottom: 1.5rem;
}

#to-home {
    top: 1.25rem;
    left: 1.25rem;
    width: 18px;
    height: 18px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}

#to-home:hover {
    filter: brightness(0.70);
}

#dark-mode {
    top: 1.25rem;
    right: 1.25rem;
    z-index: 1;
}

/* Main */
.container-main {
    text-align: center;
}

.section-banner-logo {
    background-color: var(--color-brand-100);
    width: 100%;
    height: 12.5rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 var(--radius-1) var(--radius-1);
}

#logo {
    width: 7.5rem;
    height: 5.375rem;
}

.section-form-register {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    padding-top: 13.75rem;
}

#form-register {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

input {
    height: 1.75rem;
    width: 100%;
    padding: .625rem;
    outline: none;
    border: none;
    background-color: #fff;
}

.button-base {
    width: 100%;
}

.img-petz {
   display: none;
}

@media (min-width: 700px) {
    /* Header */
    .container-header {
        position: relative;
    }

    #dark-mode > svg > path {
        fill: var(--color-brand-100);
    }

    /* Main */
    .container-main {
        display: flex;
        text-align: start;
    }

    .section-banner-logo {
        height: 100%;
        width: 30%;
    }

    #logo {
        width: 12.5rem;
        height: 12.5rem;
    }

    .section-form-register {
        padding-left: 28.125rem;
        padding-top: 2.875rem;
    }

    #form-register {
        width: 25rem;
    }

    .img-petz {
        display: inline-block;
        width: 36rem;
     }
}