@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Colors */
  --color-brand-100: #5188db;
  --color-text-card: #5188db;
  --color-brand-200: #3769b2;
  --color-grey-100: #1e1e1e;
  --color-grey-200: #28292b;
  --color-grey-300: #b3bbc7;
  --color-grey-400: #f0f3f7;
  --color-white: #FFFFFF;
  --color-black:#000000;
  --color-feedback-alert: #eb5757;
  --color-feedback-sucess: #087f5b;

  /* Font */
  --font-size1: 2rem;
  --font-size2: 1.5rem;
  --font-size3: 1.25rem;
  --font-size4: 1rem;
  --font-size5: 0.875rem;
  --font-size6: .75rem;

  /* Gap */
  --gap-1: 1.75rem;
  --gap-2: 1rem;

  /* Border Radius */
  --radius-1: .625rem;
  --radius-2: .3125rem;
  --radius-50: 50%;
}

.dark-mode:root{
  --color-brand-100: #5188db;
  --color-text-card: #FFFFFF;
  --color-grey-200: #F0F3F7;
  --color-grey-300: #F0F3F7;
  --color-grey-400: #1E1E1E;
  --color-white: #1E1E1E;
  --color-black:#FFFFFF;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 17.5rem;
    margin: 0 auto;
}

@media (min-width: 700px) {
  .container {
    max-width: 75rem;
  }
}
