header{
    height: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-brand-100);
    border-radius: 0 0 .3125rem .3125rem;
    margin: 0 auto;
    padding: 10px;
}

.logo{
    width: 90px;
    height: 90px;
}

.moon_btn{
    padding: 20px 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.login_form{
    display: flex;
    flex-direction: column;
}

.mail_input, .password_input{
    
}