

.input-base {
  margin-bottom: 1.75rem;
  margin-top: 1.75rem;
  background: url(../../assets/img/icons/search.svg) no-repeat;
  background-position: calc(100% - 1rem) center;
  background-color: var(--color-white);
}

#all-pets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 17.5rem;
  background-color: var(--color-white);
  border-radius: .625rem;
  padding: 1rem;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.card-description h2, .card-description small {
  font-weight: 600;
  color: var(--color-text-card);
}

.card-description h2 {
  font-size: 1rem;
}

.card-description small {
  font-size: .75rem;
}

.card-description button {
  display: grid;
  place-content: center;
  background: transparent;
  border: none;
  width: max-content;
  cursor: pointer;
}

.card-description button svg path {
  transition: .3s ease;
}

.card-description button:hover svg path {
  fill: var(--color-feedback-alert);
}

.card-image-wrapper {
  width: 4.25rem;
  height: 4.25rem;
  overflow: hidden;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: var(--color-grey-400);
}

.card-image-wrapper img {
  width: 100%;
}

@media (min-width: 500px) {
  .container {
    max-width: 57rem;
    padding: 1.25rem;
  }

  .input-base {
    max-width: 24.75rem;
    padding: 1.25rem 1rem;
    margin-bottom: 3rem;
    margin-top: 0;
  }

  #all-pets {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    width: max-content;
    max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .card {
    min-width: 25.125rem;
    padding: 1.5rem;
  }

  .card-description h2 {
    font-size: 1.25rem;
  }
  
  .card-description small {
    font-size: 1rem;
  }

  .card-image-wrapper {
    width: 6rem;
    height: 6rem;
  }
}


